/*
About: My main CSS file for my personal website!
Creator: Logan Markley
Start Date: 10/6/2022 (sophomore year of Missouri S&T)
*/

html{margin-left:0px; padding-left:0px;}

body {
    background-color: rgb(194, 195, 209);
    background-image: linear-gradient(90deg, rgb(194, 195, 209), rgb(170, 176, 202), rgb(194, 195, 209));
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
}

.navbar{
    z-index: 999;           /* makes sure that the navbar stays above everything else */
    overflow: hidden;
    background-color: rgb(5, 44, 82);
    position: fixed;
    top: 0;
    width: 100%;
    outline: auto;
    right:0;
}
.navbar a{
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    padding: 9px 17px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 14px;
    margin-right: 14px;
    color:aliceblue;
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    transition: color 200ms, background-color 200ms, text-shadow 200ms;
}
.navbar a:hover{
    background-color: aliceblue;
    text-shadow: 1px 1px 3px rgb(71, 85, 111);
    color:black
}
.navbar a:active{
    background-color: rgb(43, 54, 66);
    transform: translateY(1px);
    color: aliceblue;
}

.indexMiniLinksDiv{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.indexMiniLinksDiv a{
    transition: color 200ms;
    color: rgb(85, 129, 204);
    margin-left: 14px;
    margin-right: 14px;
}

.indexMiniLinksDiv a:hover{
    color: rgb(186, 163, 100);
}

.separateNavbar {margin-top: 60px;}

.list{text-align: center;}

.highlight{color: rgb(231, 130, 97);}

.suitImages{
    width: auto; 
    height: 370px;
    margin: 50px;
    margin-top: 0px;
}

.align{
    text-align: center;
    overflow:auto;
    position:relative;
}

.myProjectsScrollButtons{
    position: relative;
    top: -325px; 
    background-color: rgb(128, 151, 199);
    border-width: 1.5px;
    width: 50px;
    height: 50px;
    border-radius:40%;
    font-size: 23px;
    transition: color 200ms, background-color 200ms;
}

.myProjectsScrollButtons:hover{
    background-color: rgb(102, 178, 255);
    cursor: pointer
}

.myProjectsScrollButtons:active{
    background-color: rgb(43, 54, 66);
    transform: translateY(2px);
    color: aliceblue;
}

.myProjectsGIFs{
    position: relative;
    height: 551px;
    max-width: 920px;
    width: auto;
    border: 4px solid rgb(50, 64, 71);
}

.myProjectsLanguageImages{
    position: relative;
    width: auto;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 30%;
    padding: 5px;
    margin-left: 15px;
    margin-top: 24px;
    margin-bottom: 19px;
    opacity: 30%;
}

.smallText{font-size:small}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: -2px 2px 2px rgb(49, 104, 156);
}

h2{
    font-size: 32px;
    text-shadow: -1px 2px 2px rgba(131, 79, 173, 0.575);
    padding-bottom: 5px;
}

.contactLinks{
    transition: color 200ms;
    color: rgb(85, 129, 204);
}

.contactLinks:hover{
    color: rgb(217, 174, 117);
}

.contactLinks:active{
    color: rgb(72, 59, 39);
}


p{
    font-size: 20px;
}

li{
    margin-bottom: 5px;
}